*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}

.topo{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    padding-top: 10px;
    align-items: center;
}

.areaform{

    background-color: aquamarine;
    width: 50%;
    height: 50%;
    margin: 10% auto;
    border-radius: 15px;
}

.inputs{

margin: auto auto;

}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
}

.box h2{
    margin-top: 5px;
}

.inputs{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.inputtexto{
    width: 100%;
}

.inputtexto{
    font-size: 20px;
}

.inputpadrao{
    border: none;
    width: 100%;
    height: 25px;
    border-radius: 8px;
    padding: 5px;
}

.botoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn_form{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: azure;
}

.lembreme{
    display: flex;    
    gap: 3px;
}
