* {
    margin: 0;
    padding: 0;
}


/*===========CORES E FONTES==============*/

:root {
    --cor01: #a066cb;
    --cor02: #c9b9f2;
    --cor03: #edd4ff;
    --corfontb: #000;
    --corfontw: #fff;

    --fontlogo: "lalezar";

}

/*=========================================*/

.body {
    background-color: var(--cor03);
    width: 100vw;
    height: 100vh;
}


/*=========FORM=CADASTRO/LOGIN==========*/

.areaform {

    background-color: var(--cor02);
    width: 50%;
    margin: 5% auto;
    border-radius: 15px;
}

.inputs {

    margin: auto auto;

}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

.box h2 {
    font-family: var(--fontlogo);
    font-size: 40px;
    font-weight: 400;
}


.inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0;
}

.inputtexto {
    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: none;
}

.inputpadrao {
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 8px;
}

.pinputs {
    margin: 0;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0 50px 0;
    font-family: sans-serif;
    font-weight: 600;
}

.botoes a {
    text-decoration: none;
    color: var(--corfontb);
    font-size: 16px;
}

#lembreme {
    width: 15px;
}

.btn_form {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor01);
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
}

.lembreme {
    display: flex;
    gap: 3px;
}

.lembreme input {
    cursor: pointer;
}

/*=========PAGINA=INDEX=============*/

/*=========AREA=SOBRE===============*/

.areasobre {
    display: flex;
    background-color: var(--cor03);
    padding: 20px 0 0 0;
    justify-content: center;
}

.areasobre article {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 100px 0 0 50px;
}

.areasobre article h2 {
    font-family: var(--fontlogo);
    font-size: 40px;
    font-weight: 400;
}

.areasobre article p {
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.foto1 {
    width: 600px;
    height: 350px;
    background-color: #000000;
    margin: 100px 0 0 50px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

}

.foto2 {
    width: 250px;
    height: 250px;
    background-color: #fff;
    position: relative;
    top: -125px;
    border-radius: 15px;
    right: -15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

}

/*=========AREA=SOBRE+FINAL=================*/

/*==========area=problemas==================*/

.areaproblemas {
    display: flex;
    background-color: var(--cor02);
    padding: 20px 0 0 0;
    justify-content: center;
    flex-direction: column;
    height: 550px;
}

.areaproblemas h2 {
    font-family: var(--fontlogo);
    font-size: 40px;
    font-weight: 400;
    margin: 25px auto;
}

.cartoes {

    display: flex;
    margin: 30px;
    justify-content: center;
    gap: 50px;
}

.cartao {
    width: 250px;
    height: 280px;
    background-color: var(--cor03);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.cartao h3 {
    font-family: var(--fontlogo);
    margin-top: 15px;
}

.cartao p {
    margin: 10px 0 0 0;
}


/*==========AREA=ESTATISTICA=============*/

.areaestatistica {
    display: flex;
    background-color: var(--cor03);
    padding: 20px 0 0 0;
    justify-content: center;
}

.areaestatistica article {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 100px 0 0 70px;
}

.areaestatistica article h2 {
    font-family: var(--fontlogo);
    font-size: 40px;
    font-weight: 400;
}

.areaestatistica article p {
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.foto1e {
    width: 600px;
    height: 350px;
    margin: 70px 0 0 50px;
    border-radius: 15px;

}
.foto1e img{
    width: 100%;
    height: 100%;
    margin: 25px auto;
}

/*==========AREA=ESTATISTICA=FIM==========*/

/*==============AREA=MAO==================*/


/*==========area=mao=final==============*/

@media screen and (max-width: 450px) {
    .areaform {
        width: 100%;
        margin: 25% auto;
    }

    #linkentrar {
        display: none;
    }

}