
:root {
    --cor01: #a066cb;
    --cor02: #c9b9f2;
    --cor03: #edd4ff;
    --corfontb: #000;
    --corfontw: #fff;

    --fontlogo: "lalezar";
}

.topo{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    background-color: var(--cor01);
}

.topo a{
    font-family: var(--fontlogo);
    font-size: 26px;
    font-weight: 400;
    margin-right: 20px;
    text-decoration: none;
    color: var(--corfontw);
}

.logo{
    display: flex;
    align-items: center;
    font-family: var(--fontlogo);
    font-size: 28px;
    font-weight: 400;
    color: var(--corfontw);
}

.logo h2{
    margin-left: 10px;
    margin-top: 8px;
}

.logo img{
    width: 80px;
}
