
:root {
    --cor01: #a066cb;
    --cor02: #c9b9f2;
    --cor03: #edd4ff;
    --corfontb: #000;
    --corfontw: #fff;

    --fontlogo: "lalezar";
}



.topo{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    background-color: var(--cor01);
}

.topo a{
    font-family: var(--fontlogo);
    font-size: 26px;
    font-weight: 400;
    margin-right: 20px;
    text-decoration: none;
    color: var(--corfontw);
}

.logo{
    display: flex;
    align-items: center;
    font-family: var(--fontlogo);
    font-size: 28px;
    font-weight: 400;
    color: var(--corfontw);
}

.logo h2{
    margin-left: 10px;
    margin-top: 8px;
}

.logo img{
    width: 70px;
}


.imgconfig{
    width: 70px;
}

.cordanav{
    background-color: var(--cor01);
    
    
}

.espacologonav{
    margin-left: 30%;
    
}

#entrarmenunone{
    display: none;
    font-family: var(--fontlogo);
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
    text-decoration: none;
    color: var(--corfontw);
}

#entrarmenu{
    display: none;
    font-family: var(--fontlogo);
    font-size: 26px;
    font-weight: 400;
    margin-right: 20px;
    text-decoration: none;
    color: var(--corfontw);
}

#linkentrar{
    font-family: var(--fontlogo);
    font-size: 26px;
    font-weight: 400;
    margin-right: 20px;
    text-decoration: none;
    color: var(--corfontw);
}

#linksmenu{
    font-family: var(--fontlogo);
    font-size: 24px;
    font-weight: 400;
    margin-right: 0;
    text-decoration: none;
    color: var(--corfontw);
}

#fontepersonalizada{
    display: flex;
    align-items: center;
    font-family: var(--fontlogo);
    font-size: 42px;
    font-weight: 600;
    color: var(--corfontw);
    padding: 0;
    margin: 0;
}

.centralizarlogo{
    display: flex;
    align-items: flex-end;
    padding-left: 7px ;
}

#menufixo{
    position: fixed;
    width: 100%;
    z-index: 1;
}


@media screen and (max-width: 1000px) {

    #linkentrar{
        display: none;
    }

    #entrarmenu{
        display: block;
    }

    #entrarmenunone{
        display: block;
    }

    .espacologonav{
        margin-left: 0;
        
    }
}