*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(60, 100%, 72%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.arealogin{
    width: 500px;
    height: 400px;
    background-color: #0482ab;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 20px;
}

.inputcaixa{
    width: 400px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: medium;
}

.areatexto1 a{
    padding-left: 100px;
}

.areatexto1 label{
    padding-right: 40px;
}

.lembremecheck{
    margin-left: 25px;
}


.btnlogin{
    width: 400px;
    height: 45px;
    margin: 20px;
    border: 0;
    background-color: blue;
    border-radius: 15px;
    color: white;
    font-size: x-large;
}


